{# advertisers.twig #}
{% extends "base/layout.twig" %}

{% set active_page = "advertisers.html" %}

{% block head %}{{ parent() }}{% endblock %}

{% block title %}Advertisers{% endblock %}

{% block main %}
<div class="container-fluid">

    <div class="row row-pad" id="home">
        <div class="row-sm-height current-link" id="current-link">
            <div class="col-sm-12 col-sm-height col-middle">
                <div class="content">
                    <div class="h-curent-link">Advertisers</div>    
                </div>
            </div>
        </div>
    </div>

   <div class="row row-pad">
        <div class="row-sm-height foradvertisers" id="foradvertisers">
            <div class="col-sm-6 col-sm-height col-middle">
                <div class="content">
                    <div class="h1">For Advertisers</div>
                    <div class="h2">Reach Your Targets with Us</div>
                    <p>Being a SSP solution for advertisers and publishers from across the world, the Dynovid uses the most sophistaticated algorhythms to help you attract audiences.</p>
                    <p>Ei sed idque summo graecis, clita praesent mediocrem mel eu. Volutpat salutandi vel in, eu nec dico temporibus. Vidisse consectetuer eum ne, meliore sententiae et pro.</p>
                    <div class="button">
                        <a href="/contacts.html">Join Us</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-sm-height">
                <div class="photo"><div class="photo-circle"></div></div>
            </div>
        </div>
    </div>

   <div class="row row-pad">
        <div class="row-sm-height keyfeatures" id="keyfeatures">
            <div class="col-sm-12 col-height col-middle">
                <a href="/" class="col-xs-12 col-sm-6 col-md-3 key-1">
                    <div class="h-key">Audience Targeting</div>
                    <p>Our company provide such kind of targeting:
                        GEO, Channel, Contextual, 
                        Behavioral</p>
                </a>
                <a href="/" class="col-xs-12 col-sm-6 col-md-3 key-2">
                    <div class="h-key">Performance Advertising</div>
                    <p>With our inbuilt flexibility for customization 
                        advertisers can track engagement, purchases 
                        and other valuable metrics.</p>
                </a>
                <a href="/" class="col-xs-12 col-sm-6 col-md-3 key-3">
                    <div class="h-key">Price Optimization</div>
                    <p>Our managers’ main duty is to provide 
                        you with needed amount of traffic 
                        at reasonable price.</p>
                </a>
                <a href="/" class="col-xs-12 col-sm-6 col-md-3 key-4">
                    <div class="h-key">Targeting</div>
                    <p>Our company provide such kind of targeting:
                        GEO, Channel, Contextual, 
                        Behavioral</p>
                </a>
            </div>
        </div>
    </div>

   <div class="row row-pad">
        <div class="row-sm-height makefuture" id="makefuture">
            <div class="col-sm-6 col-sm-height">
                <div class="photo"></div>
            </div>
            <div class="col-sm-6 col-sm-height col-middle">
                <div class="content">
                    <div class="h1-center">Advertise with us!</div>
                    <div class="h2-center">We Make Future on Advertising</div>
                    <p>Being a SSP solution for advertisers and publishers from across the world, 
                        the Dynovid uses the most sophistaticated algorhythms to help
                        you attract audiences.</p> 
                    <div class="button">
                        <a href="/contacts.html">Start Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
</div>

{% endblock %}

{% block footer %}{{ parent() }}{% endblock %}
