// Base
$base-font-family: 'Raleway',
Helvetica,
Arial,
sans-serif !default;
$second-font-family: 'Comfortaa' !default;
//$third-font-family: 'Myriad Pro',
$third-font-family: 'PT Sans' !default;
$screen-xs: 480px !default;
$screen-xs-min: $screen-xs !default;
$screen-phone: $screen-xs-min !default;
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
$screen-tablet: $screen-sm-min !default;
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;
$screen-desktop: $screen-md-min !default;
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;
$screen-lg-desktop: $screen-lg-min !default;
$screen-null-max: ($screen-xs-min - 1) !default;
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;
* {
    &,
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

body {
    font-family: $base-font-family;
    font-size: rem(16);
    font-weight: 400;
    line-height: 140%;
    background-color: #fff;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $base-font-family;
}

p {
    padding: 18px 0 0 0;
    font-family: $base-font-family;
    font-size: 16px;
    font-weight: 600;
    color: rgb(118, 118, 118);
    line-height: 1.5;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
    //transition: color .3s ease;
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

*:focus {
    outline: 0;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

@media(max-width: $screen-xs-max) {
    .collapse {
        display: none;
    }
    .collapse.in {
        display: block;
    }
    tr.collapse.in {
        display: table-row;
    }
    tbody.collapse.in {
        display: table-row-group;
    }
    .collapsing {
        position: relative;
        height: 0;
        overflow: hidden;
        transition-property: height, visibility;
        transition-duration: 0.35s;
        transition-timing-function: ease;
    }
}