        /**********************************************************************************/
        
        .foradvertisers,
        .forpublishers {
            .photo {
                height: 750px;
                &-circle {
                    overflow: hidden;
                    position: relative;
                    left: 0;
                    top: calc(50% - 280px);
                    @include size(500px);
                    padding: 0;
                    background-image: url($imgPathCss+'/foradvertisers.jpg');
                    background-position-x: calc(50% - 120px);
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-style: none;
                    border-radius: 50%;
                }
            }
            .content {
                padding: 0 20px 0 30%;
            }
        }
        /**********************************************************************************/
        
        .keyfeatures {
            .key-1,
            .key-2,
            .key-3,
            .key-4 {
                position: relative;
                display: inline-block;
                height: 431px;
                background-position: center 70px;
                background-size: 56px auto;
                background-repeat: no-repeat;
                text-align: center;
                text-decoration: none;
                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    background-image: url($imgPathCss+'/arrow.png');
                    background-position: center 340px;
                    background-size: 25px auto;
                    background-repeat: no-repeat;
                }
                .h-key {
                    font-size: rem(28);
                    font-family: $second-font-family;
                    color: rgb(47, 47, 47);
                    line-height: 2.2;
                    text-align: center;
                    padding: 140px 0 0 0;
                }
                p {
                    font-size: rem(16);
                    font-family: $base-font-family;
                    color: rgb(118, 118, 118);
                    line-height: 1.5;
                    text-align: center;
                    padding: 0 7%;
                }
                @media(max-width: 1740px) {
                    .h-key {
                        line-height: 1.2;
                        padding: 150px 0 0 0;
                    }
                    p {
                        padding: 0 7%;
                    }
                }
                @media(max-width: 1400px) {
                    background-position: center 50px;
                    .h-key {
                        padding: 130px 0 0 0;
                    }
                    p {
                        padding: 0 0px;
                    }
                }
                @media(max-width: 1314px) {
                    background-position: center 40px;
                    .h-key {
                        //line-height: 1.5;
                        padding: 120px 0 0 0;
                    }
                    &:after {
                        background-position: center 380px;
                    }
                }
            }
            .key-1 {
                background-image: url($imgPathCss+'/key-feature-1.png');
                background-color: rgb(250, 249, 245);
            }
            .key-2 {
                background-image: url($imgPathCss+'/key-feature-2.png');
                background-color: rgb(242, 240, 233);
            }
            .key-3 {
                .h-key {
                    color: rgb(255, 255, 255);
                }
                p {
                    color: rgb(242, 240, 233);
                }
                background-image: url($imgPathCss+'/key-feature-3.png');
                background-color: rgb(63, 63, 69);
            }
            .key-4 {
                .h-key {
                    color: rgb(255, 255, 255);
                }
                p {
                    color: rgb(242, 240, 233);
                }
                background-image: url($imgPathCss+'/key-feature-1.png');
                background-color: rgb(45, 44, 54);
            }
        }
        /**********************************************************************************/
        
        .makefuture {
            .photo {
                background-image: url($imgPathCss+'/future.jpg');
                height: 700px;
            }
            .content {
                padding: 0 19% 0 19%;
                p {
                    text-align: center;
                }
                .button {
                    text-align: center;
                }
                .h2-center {
                    padding-right: 0;
                    padding-left: 0;
                }
            }
        }
        /**********************************************************************************/
        /**********************************************************************************/
        /**********************************************************************************/
        /* Large desktops and laptops */
        
        @media (min-width: $screen-lg-min) {}
        /* Landscape tablets and medium desktops */
        
        @media (min-width: $screen-md) and (max-width: $screen-md-max) {
            .foradvertisers {
                .photo {
                    &-circle {
                        background-position: center;
                        width: 400px;
                        height: 400px;
                    }
                }
                .content {
                    padding: 0 20px 0 10%;
                }
            }
        }
        /* Portrait tablets and small desktops */
        
        @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
            .foradvertisers {
                .photo {
                    &-circle {
                        background-position: center;
                        width: 370px;
                        height: 370px;
                    }
                }
                .content {
                    padding: 0 20px 0 20px;
                }
            }
            .keyfeatures {
                .key-1,
                .key-2,
                .key-3,
                .key-4 {
                    background-position: center 80px;
                    .h-key {
                        //line-height: 1.5;
                        padding: 160px 0 0 0;
                    }
                    &:after {
                        background-position: center 340px;
                    }
                }
            }
        }
        /* Landscape phones and portrait tablets */
        
        @media (max-width: $screen-xs-max) {
            .foradvertisers {
                .photo {
                    &-circle {
                        background-position: center;
                        width: 370px;
                        height: 370px;
                    }
                }
                .content {
                    padding: 0 15px 0 15px;
                }
                .h1 {
                    text-align: center;
                }
                .h2 {
                    text-align: center;
                    padding-right: 0px;
                    &:before {
                        left: calc(50% - 21px);
                    }
                }
                p {
                    text-align: center;
                }
                .button {
                    text-align: center;
                }
            }
            .keyfeatures {
                .key-1,
                .key-2,
                .key-3,
                .key-4 {
                    background-position: center 80px;
                    .h-key {
                        //line-height: 1.5;
                        padding: 160px 0 0 0;
                    }
                    &:after {
                        background-position: center 340px;
                    }
                }
            }
            .makefuture {
                .content {
                    padding: 0 15px 0 15px;
                }
            }
        }
        /* Portrait phones and smaller */
        
        @media (max-width: $screen-xs) {}