/**********************************************************************************/

.keycontacts {
    .row-sm-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }
    .col-sm-height {
        display: table-cell;
        float: none;
        height: 100%;
        width: 100%;
        padding: 0;
    }
    padding: 60px 0;
    max-width: 1170px;
    .key {
        position: relative;
        display: inline-block;
        height: 230px;
        background-position: center 70px;
        background-size: auto 41px;
        background-repeat: no-repeat;
        text-align: center;
        text-decoration: none;
        .h-key {
            font-size: rem(24);
            font-family: $second-font-family;
            color: rgb(43, 43, 43);
            line-height: 2.292;
            text-align: center;
            padding: 115px 0 0 0;
        }
        p {
            font-size: rem(15);
            font-weight: 600;
            font-family: $second-font-family;
            color: #888;
            line-height: 160%;
            text-align: center;
            padding: 0 20%;
            margin: 0;
        }
    }
    .key-1 {
        background-image: url($imgPathCss+'/con-phone.png');
    }
    .key-2 {
        background-image: url($imgPathCss+'/con-location.png');
    }
    .key-3 {
        background-image: url($imgPathCss+'/con-mail.png');
    }
}

.sendmessage {
    padding: 40px 0 60px;
    .content-right {
        .h2-center {
            padding: 7px 0 27px 0;
            text-align: center;
        }
    }
    .photo {
        height: 700px;
        background-image: url($imgPathCss+'/request-2.jpg');
        background-position-x: calc(50% - 80px);
    }
}


/**********************************************************************************/


/**********************************************************************************/


/* Large desktops and laptops */

@media (min-width: $screen-lg-min) {}


/* Landscape tablets and medium desktops */

@media (min-width: $screen-md) and (max-width: $screen-md-max) {}


/* Portrait tablets and small desktops */

@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {}


/* Landscape phones and portrait tablets */

@media (max-width: $screen-xs-max) {
    .keycontacts {
        padding: 0;
        .key {
            height: auto;
            background-position: center 35px;
            .h-key {
                font-size: rem(24);
                font-family: $second-font-family;
                color: rgb(43, 43, 43);
                line-height: 2.292;
                text-align: center;
                padding: 75px 0 0 0;
            }
            p {
                padding: 0 5px;
            }
        }
    }
    .row-sm-height {
        display: table;
        height: 100%;
        width: 100%;
    }
}


/* Portrait phones and smaller */

@media (max-width: $screen-xs) {}