.home-slider {
    position: relative;
    z-index: 1;
    @include p_el(before, null, null) {
        @include position(absolute, 0);
        background: url($imgPathCss+'/dynovid-main.jpg') center top no-repeat;
        background-size: cover;
        z-index: 0;
        @media(max-width: 767px) {
            background-position: center 70px;
        }
    }
    &-container {
        position: relative;
        padding-top: 90px;
        height: 100vh;
        z-index: 2;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @media(max-width: 767px) {
            .container {
                width: 100%;
            }
        }
    }
}
.whychoose {
    background-color: #fff;
    @media(max-width:$screen-md-min) {
        background-size: cover;
    }

    .photo {
        background-image: url($imgPathCss+'/whychoose.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @media(max-width:$screen-md-min) {
            display: none;
        }
    }
    .text {
        vertical-align:middle;
        padding: 80px 8%;
        height: 620px;
        @media(max-width:$screen-md-min) {
            height: auto;
            background-color: rgba(255, 255, 255, .92);
            padding: 40px 5%;
            width: 100%;
        }

    }
}

.events {
    .photo {
        background-image: url($imgPathCss+'/events.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @media(max-width:$screen-md-min) {
            display: none;
        }
    }
}

.welcome {
    background-color: rgb(255, 255, 255);
    @media(max-width: $screen-md) {
        text-align: center;
    }

    .photo {
        background-image: url($imgPathCss+'/welcome.jpg');
        background-position: 40% center;
        background-repeat: no-repeat;
        background-size: cover;
        @media(max-width: $screen-xs-max) {
            display: none
        }
    }

    .text {
        padding: 0 40px 0 15px;
        @media(max-width: $screen-md) {
            padding: 0 15px;
        }
        p {
            padding: 20px 0px;
        }
        h1, h2, p  {
            text-align: left;
            @media(max-width: $screen-md) {
                text-align: center;
            }
        }
        .button {
	        width: 100%;
	        padding: 60px 0;
            text-align: left;
            @media(max-width: $screen-md) {
                text-align: center;
            }
        }
    }
}


.Rectangle_8 {

  position: absolute;
  left: 74px;
  top: 4475px;
  width: 1772px;
  height: 187px;
  z-index: 367;
}


.partners {
    z-index: 0;
    position: relative;
    background-color: #f7f6f2;
    &-content {
        position: relative;
        z-index: 1;
        margin: auto 0;
        padding: 50px 15px;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        @include p_el(both, 40px, null) {
            @include position(absolute, 0 null 0 0);
            background: linear-gradient(to right, rgba(#f7f6f2, 1) 0%, rgba(#f7f6f2, 0) 100%);
            z-index: 1;
        }
        &:after {
            left: auto;
            right: 0;
            background: linear-gradient(to right, rgba(#f7f6f2, 0) 0%, rgba(#f7f6f2, 1) 100%);
        }
        span {
            position: relative;
            display: inline-block;
            vertical-align: top;
            text-align: center;
            margin: 0 -4px 0 0;
            padding: 0;
            width: 200px;
            height: 100px;
            background-position: center center;
            background-repeat: no-repeat;
            animation: run 20s linear infinite;
        }
        .partner-1 {
            background-image: url($imgPathCss+'/partner-1.png');
        }
        .partner-2 {
            background-image: url($imgPathCss+'/partner-2.png');
        }
        .partner-3 {
            background-image: url($imgPathCss+'/partner-3.png');
        }
        .partner-4 {
            background-image: url($imgPathCss+'/partner-4.png');
        }
        .partner-5 {
            background-image: url($imgPathCss+'/partner-5.png');
        }
    }
}

@keyframes run {
    0% {
        left: 0;
    }
    100% {
        left: -1000px;
    }
}