$icons: (
      sprite: (width: 293px, height: 273px, svgPath: $PathCss+'img/sprite.svg'),
    close: (width: 28px, height: 28px, backgroundX: 0px, backgroundY: 0px),
    close-hover: (width: 28px, height: 28px, backgroundX: -38px, backgroundY: -38px),
    facebook: (width: 16px, height: 16px, backgroundX: -76px, backgroundY: -76px),
    instagram: (width: 16px, height: 16px, backgroundX: -102px, backgroundY: -102px),
    technology_clock: (width: 39px, height: 39px, backgroundX: -128px, backgroundY: -128px),
    thankyou: (width: 80px, height: 60px, backgroundX: -177px, backgroundY: -177px),
    twitter: (width: 16px, height: 16px, backgroundX: -267px, backgroundY: -247px),
);