$icons: (
      sprite: (width: 494px, height: 469px, svgPath: $PathCss+'img/sprite.svg'),
    close: (width: 28px, height: 28px, backgroundX: 0px, backgroundY: 0px),
    close-hover: (width: 28px, height: 28px, backgroundX: -38px, backgroundY: -38px),
    facebook: (width: 16px, height: 16px, backgroundX: -76px, backgroundY: -76px),
    instagram: (width: 16px, height: 16px, backgroundX: -102px, backgroundY: -102px),
    key-feature-1: (width: 56px, height: 56px, backgroundX: -128px, backgroundY: -128px),
    key-feature-2: (width: 55px, height: 55px, backgroundX: -194px, backgroundY: -194px),
    key-feature-3: (width: 60px, height: 55px, backgroundX: -259px, backgroundY: -259px),
    technology_clock: (width: 39px, height: 39px, backgroundX: -329px, backgroundY: -324px),
    thankyou: (width: 80px, height: 60px, backgroundX: -378px, backgroundY: -373px),
    twitter: (width: 16px, height: 16px, backgroundX: -468px, backgroundY: -443px),
);